.main {
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.featured {
    margin: 30px 0;
    width: 100%;
    height: 600px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.carousel {
    width: 100%;
    height: 600px;
}

.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.menuArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-menu {
    width: 60%;
    padding: 10px;
    border: 1px solid #DFE2E6;
    border-radius: 5px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-top: 10px;
}

.menu-item {
    margin: 5px;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.menu-image {
    width: 30%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 0;
}

.sidebar {
    width: 35%;
}

.order {
    width: 100%;
}

.order-rows {
    border-radius: 5px;
}

.order-length {
    margin-left: 10px;
}

.find-us {
    width: 100%;
    border: 1px solid #DFE2E6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-title {
    font-size: 30px;
}

.location-image {
    width: 80%;
    height: auto;
    margin: 10px auto;
    border: 1px solid #DFE2E6;
}

.locations {
    font-size: 20px;
}

.location-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

@media (max-width: 968px) {
    .featured {
        height: 450px;
    }

    .carousel {
        height: 450px;
    }

    .carousel-image {
        height: 450px;
    }

    .menuArea {
        flex-direction: column;
    }

    .main-menu {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar {
        order: -1;
        margin: 10px 0;
        position: sticky;
        top: 0;
    }

    .order {
        position: sticky;
        top: 0;
    }

    .find-us {
        display: none;
    }
}

@media (max-width: 568px) {
    .featured {
        height: 250px;
    }

    .carousel {
        height: 250px;
    }

    .carousel-image {
        height: 250px;
    }

    .card-content {
        flex-direction: column;
    }

    .menu-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-top-right-radius: calc(0.375rem - 1px);
    }
    
    .find-us {
        display: none;
    }
}